<html>
    <head>
	<link rel="stylesheet" type="text/css" href="landing.css">
    </head>
    <body>
		<a class="button home" href="<%=webPath%>">All Splitters</a>
		<div class="app">
			<h1 class="title">PDF Splitter</h1> 
			<div class="content">
				<h1>Error</h1>
				<p><%=error%></p>
				<div class="splitters">
					<a class="button return" href="./login">Log In</a>
				</div>
			</div>
		</div>
    </body>
</html>