@import url('https://fonts.googleapis.com/css?family=Poppins:500|Raleway:500&display=swap');


:root{
    --button-font: 400 20px 'Poppins', sans-serif;
    --title-font: 900 60px 'Raleway', sans-serif;
    --site-color: #848484;
    --hover-color: #3d57c1;
    --site-animation: fadeIn cubic-bezier(0.280, 0.840, 0.420, 1) 2s;
}

.button{
    font: var(--button-font);
    text-transform: lowercase;
    flex: 1;
    flex-basis: 20%;
    color: white;
    background-color: var(--site-color);
    padding: 10px;
    display: inline-block;
    border: none;
    cursor: pointer;
    text-decoration: none;
    margin: 10px;
}


.submit{
    font: var(--button-font);
    text-transform: lowercase;
    color: white;
    background-color: var(--site-color);
    padding: 10px;
    display: inline-block;
    transition: all ease-in 100ms;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.textbox{
    font: var(--button-font);
    text-transform: lowercase;
    color: black;
    background-color: #e5e5e5;
    padding: 10px;
    display: inline-block;
    transition: all ease-in 100ms;
    margin-bottom: 30px;
    border: none;
}
.textbox:focus{
	outline-color: var(--hover-color);
}

.home{
    transition: none;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    background-color: black;
}


form{
    margin-top: 30px;
    transition: all 0.75s cubic-bezier(0.280, 0.840, 0.420, 1);
    display: flex;
    flex-direction: column;
    width: 70%;
    animation: var(--site-animation);
    height: 250px;
    z-index: 1;
  }

.return{
    margin-top: 25px;
}

 .button:hover {
    background-color: var(--hover-color);
}

 .submit:hover {
    background-color: var(--hover-color);
}

.home:hover{
    background-color: #c2c2c2;
}


.button:active {
    transform: scale(1.02);
}

.content{
    animation: var(--site-animation);
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.content p{
    word-break: break-word;
}

.splitters{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

body{
    color: var(--hover-color);
    font: var(--button-font);
    text-transform: lowercase;
	background-color: lightred;
	display: flex;
	justify-content: center;
	align-items: center;
}

.app{
    flex-basis: 750px;
    height: fit-content;
    margin: 0px 40px 95px 40px;
}

.app p{
    display: inline-block;
    font-size: 20px;
    margin: 0px 0px 40px 0px;
}


.title{
    font: var(--title-font);
    text-transform: lowercase;
    margin: 15px;
    text-align: center;
    font-size: 59px;
    color:var(--site-color);
    position: relative;
	animation: var(--site-animation);
}

.title::before{
    content: "";
    position: absolute;
    color: #d1d3d4;
    width: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    animation: var(--site-animation);
}


@keyframes revealSide {
    0%   { opacity: 0; transform: scaleX(0)}
    100% { opacity: 1; transform: scaleX(1)}
}

@keyframes revealTop {
    0%,30%   { opacity: 0; transform: scaleY(0.3)}
    100% { opacity: 1; transform: scaleY(1)}
}

@keyframes move {
    0%,52%   { transform: translate(0,0)}
100% { transform: translate(5px,3px)}
}

@keyframes fadeIn {
    0%   { opacity: 0; transform: translate(0px,-200px)}
    100% { opacity: 1; transform: translate(0px, 0px)}
}

