@import url('https://fonts.googleapis.com/css?family=Poppins:500|Raleway:500&display=swap');

:root {
	--button-font: 400 20px 'Poppins', sans-serif;
	--title-font: 900 60px 'Raleway', sans-serif;
}

.button {
	text-transform: lowercase;
	font: var(--button-font);
	color: white;
	background-color: #d23636;
	padding: 10px;
	display: inline-block;
	transition: all ease-in 100ms;
	border: none;
	cursor: pointer;
}

.vWrapper {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.inputfile + label {
	min-width: 200px;
	max-height: 150px;
	text-transform: lowercase;
	font: var(--button-font);
	color: black;
	border: black solid 2px;
	background-color: white;
	padding: 10px 20px;
	display: inline-block;
	transition: all ease-in 100ms;
	cursor: pointer;
	overflow: auto;
}

.textbox {
	text-transform: lowercase;
	font: var(--button-font);
	color: black;
	background-color: #e5e5e5;
	padding: 10px;
	display: inline-block;
	transition: all ease-in 100ms;
	max-height: 60px;
	border: none;
}
.textbox:focus {
	outline-color: #d23636;
}

select {
	text-transform: lowercase;
	font: var(--button-font);
	color: black;
	background-color: white;
	padding: 8px;
	display: inline-block;
	transition: all ease-in 100ms;
	border: solid 2px black;
	outline: none;
	cursor: pointer;
}

body {
	font: var(--button-font);
	text-transform: lowercase;
	background-color: lightred;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-y: hidden;
}

.button:hover {
	background-color: #861919;
}

.inputfile:focus + label,
.inputfile + label:hover {
	background-color: #e5e5e5;
}

#wrapper {
	display: flex;
	justify-content: center;
}

.inputfile + label:active,
.button:active {
	transform: scale(1.02);
}

.container {
	display: grid;
	grid-template-areas: "doc meta" "doc submit";
	row-gap: 2vw;
	column-gap: 4vw;
}

.cell {
	grid-area: cell;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-self: flex-start;
}

.doc {
	grid-area: doc;
}
.meta {
	grid-area: meta;
}

.dropdown option {
	font-size: 17px;
	cursor: pointer;
	font-weight: 550;
}

#submit {
	grid-area: submit;
	outline: none;
	border: none;
	max-height: 60px;
}

#loading {
	transition: all 300ms linear;
	top: 0;
	left: 0;
	opacity: 0;
	z-index: -1;
}

#animate {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

.lds-ring {
	display: inline-block;
	position: relative;
	width: 115px;
	height: 115px;
}
.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 100px;
	height: 100px;
	margin: 6px;
	border: 10px solid #d23636;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #d23636 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
}
@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

#contentArea {
	height: 250px;
	position: relative;
}

#contentArea p {
	text-align: center;
}

form {
	transition: all 0.75s cubic-bezier(0.280, 0.840, 0.420, 1);
	width: 100%;
	animation: revealTop 1s;
	animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
	transform-origin: top;
	height: 250px;
	z-index: 1;
}

#error {
	user-select: none;
	transition: all 300ms linear;
	animation: revealSide 1s;
	animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
	transform-origin: top;
	margin-top: 40px;
}

.title {
	text-align: center;
	font: var(--title-font);
	letter-spacing: 4px;
	text-transform: lowercase;
	color: #d23636;
	position: relative;
	animation: revealSide 1s;
	animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
	transform-origin: top;
	margin-bottom: 20px;
}

@keyframes revealSide {
	0% {
		opacity: 0;
		transform: scaleX(0);
	}
	100% {
		opacity: 1;
		transform: scaleX(1);
	}
}

@keyframes revealTop {
	0%,
	30% {
		opacity: 0;
		transform: scaleY(0.3);
	}
	100% {
		opacity: 1;
		transform: scaleY(1);
	}
}

@keyframes move {
	0%,
	52% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(5px, 3px);
	}
}

.title::before {
	position: absolute;
	color: #d1d3d4;
	z-index: -1;
	top: 0;
	left: 0;
	animation: move 1.8s;
	animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
	transform-origin: top;
	transform: translate(5px, 3px);
}

.app {
	flex-basis: 750px;
	height: fit-content;
	margin: 30px;
}

.radioOption {
	text-transform: lowercase;
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font: var(--button-font);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.radioOption input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
	border-radius: 50%;
}

.checkmark:hover {
	background-color: #ccc;
}

.radioOption input:checked ~ .checkmark {
	background-color: #d23636;
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.radioOption input:checked ~ .checkmark:after {
	display: block;
}

.radioOption .checkmark:after {
	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.home {
	position: absolute;
	top: 3;
	left: 3;
	text-align: center;
	background-color: #e5e5e5;
	font: var(--button-font);
	color: #757575;
	padding: 10px;
	display: inline-block;
	transition: all ease-in 100ms;
	border: none;
	cursor: pointer;
	text-decoration: none;
	margin: 10px;
}

.home:hover {
	background-color: #c2c2c2;
}

@media (max-width: 612px) {
	.container {
		grid-template-areas: "doc" "meta" "submit";
	}
	.title {
		margin-top: 10vh;
	}
	body {
		align-items: baseline;
	}
}
